permessage-deflate not working

### Is there an existing issue for this?

- [x] I've searched for any related issues and avoided creating a duplicate issue.

### Description

Hello, I am trying to use a ws WebSocket client to connect to my Presidium WebSocket server [presidium-websocket](https://github.com/richytong/presidium-websocket) using the permessage-deflate extension [RFC 7692](https://datatracker.ietf.org/doc/html/rfc7692) for the WebSocket protocol.

I receive this message in the opening handshake from ws indicating we should use permessage-deflate if the server supports it:
```
GET / HTTP/1.1
Sec-WebSocket-Version: 13
Sec-WebSocket-Key: Z0crN+0JhaUasarVy+2Hrw==
Connection: Upgrade
Upgrade: websocket
Sec-WebSocket-Extensions: permessage-deflate; client_max_window_bits
Host: localhost:7357
```

Then I send back this message from my Presidium WebSocket server for the opening handshake with the `Sec-WebSocket-Extensions: permessage-deflate` header indicating the server supports the permessage-deflate extension:
```
HTTP/1.1 101 Switching Protocols
Upgrade: websocket
Connection: Upgrade
Sec-WebSocket-Accept: u5K5ZWOPbUfOZs59PkkODVvplYE=
Sec-WebSocket-Extensions: permessage-deflate
```

Then, when I go to echo a message I receive this error:
```
RangeError: Invalid WebSocket frame: RSV1 must be clear
    at Receiver.getInfo (/home/richard/code/presidium-websocket/node_modules/ws/lib/receiv
er.js:227:28)
    at Receiver.startLoop (/home/richard/code/presidium-websocket/node_modules/ws/lib/rece
iver.js:155:16)
    at /home/richard/code/presidium-websocket/node_modules/ws/lib/receiver.js:531:42
    at /home/richard/code/presidium-websocket/node_modules/ws/lib/permessage-deflate.js:30
9:9
    at /home/richard/code/presidium-websocket/node_modules/ws/lib/permessage-deflate.js:39
2:7
    at afterWrite (node:internal/streams/writable:710:5)
    at onwrite (node:internal/streams/writable:688:7)
    at Zlib.cb (node:internal/streams/transform:191:7)
    at Zlib.processCallback (node:zlib:588:8) {
  code: 'WS_ERR_UNEXPECTED_RSV_1',
  [Symbol(status-code)]: 1002
}
```

It seems there may be a bug when decoding particular compressed payloads with permessage-deflate. [Here](https://gist.github.com/richytong/cb212c65704325d6fbd47137883269bf) is the payload I used to reproduce this error.

### ws version

^8.18.3

### Node.js Version

v22.12.0

### System

  System:
    OS: Linux 6.15 Arch Linux
    CPU: (4) x64 Intel(R) Core(TM) i5-2450M CPU @ 2.50GHz
    Memory: 9.02 GB / 15.50 GB
    Container: Yes
    Shell: 5.2.37 - /bin/bash


### Expected result

There should be no error and the message should simply log out to the console from the echo. Here are the steps to reproduce:

1. Install presidium-websocket
```
npm i presidium-websocket
```

2. Download `test-payload.json` from my [gist](https://gist.github.com/richytong/cb212c65704325d6fbd47137883269bf)

3. Run the sample code

```js
const WebSocketServer = require('presidium-websocket/WebSocketServer')
const WebSocket = require('ws')
const http = require('http')
const testPayload = require('./test-payload.json')

const server = new WebSocketServer(websocket => {
  websocket.on('message', message => {
    websocket.send(message)
  })
}, { perMessageDeflate: true })

server.listen(7357)

const websocket = new WebSocket('ws://localhost:7357/')

websocket.on('open', () => {
  websocket.send(testPayload)
})

websocket.on('message', message => {
  console.log(message) // should echo test-message
})

websocket.on('error', console.error)
```

### Actual result

Received this error:

```
RangeError: Invalid WebSocket frame: RSV1 must be clear
    at Receiver.getInfo (/home/richard/code/presidium-websocket/node_modules/ws/lib/receiv
er.js:227:28)
    at Receiver.startLoop (/home/richard/code/presidium-websocket/node_modules/ws/lib/rece
iver.js:155:16)
    at /home/richard/code/presidium-websocket/node_modules/ws/lib/receiver.js:531:42
    at /home/richard/code/presidium-websocket/node_modules/ws/lib/permessage-deflate.js:30
9:9
    at /home/richard/code/presidium-websocket/node_modules/ws/lib/permessage-deflate.js:39
2:7
    at afterWrite (node:internal/streams/writable:710:5)
    at onwrite (node:internal/streams/writable:688:7)
    at Zlib.cb (node:internal/streams/transform:191:7)
    at Zlib.processCallback (node:zlib:588:8) {
  code: 'WS_ERR_UNEXPECTED_RSV_1',
  [Symbol(status-code)]: 1002
}
```

### Attachments

_No response_

Found the bug in my own implementation.

I should add when I go to send a different message "test-message", I don't receive an error but it seems the payload is decoded incorrectly. This is the code with "test-message":

```js
const WebSocketServer = require('presidium-websocket/WebSocketServer')
const WebSocket = require('ws')
const http = require('http')
const testPayload = require('./test-payload.json')

const server = new WebSocketServer(websocket => {
  websocket.on('message', message => {
    websocket.send(message)
  })
}, { supportPerMessageDeflate: true })

server.listen(7357)

const websocket = new WebSocket('ws://localhost:7357/')

websocket.on('open', () => {
  // websocket.send(testPayload)
  websocket.send('test-message')
})

websocket.on('message', message => {
  console.log(message.toString('utf8')) // *I-.��M-.NLO
})
```

I think the error is here: https://github.com/websockets/ws/blob/master/lib/receiver.js#L225-L226

```js
    if (this._opcode === 0x00) {
      if (compressed) {
        const error = this.createError(
          RangeError,
          'RSV1 must be clear',
          true,
          1002,
          'WS_ERR_UNEXPECTED_RSV_1'
        );
```

I'm sending a continuation frame (opcode 0x00) with a compressed payload, but your code explicitly throws an error if the opcode is 0 and the payload is compressed. This should not be the case. Permessage-deflate extension should support continuation frames.

See https://datatracker.ietf.org/doc/html/rfc7692#page-11

```
An endpoint MUST NOT set the "Per-Message Compressed" bit of control
frames and non-first fragments of a data message.  An endpoint
receiving such a frame MUST _Fail the WebSocket Connection_.
```

Continuation frames must not have the RSV1 bit set.

The language you provided is part of this larger text describing the algorithm to send a message in the form of an UNCOMPRESSED (i.e. does not use per-message deflate extension) message.

```
An endpoint MUST use the following algorithm to send a message in the
   form of an uncompressed message.

   1.  Process the original data as follows:

       *  If this PMCE is the last extension to process outgoing
          messages, build frame(s) using the original data for the
          payload data portion as is, unset the "Per-Message Compressed"
          bit of the first frame, and then send the frame(s) as
          described in [Section 6.1 of [RFC6455]](https://datatracker.ietf.org/doc/html/rfc6455#section-6.1).

       *  Otherwise, pass the message payload and header values to the
          next extension after the PMCE as is.  If the extension expects
          frames for input, build a frame for the message and pass it.

   An endpoint MUST NOT set the "Per-Message Compressed" bit of control
   frames and non-first fragments of a data message.  An endpoint
   receiving such a frame MUST _Fail the WebSocket Connection_.
```

The [RFC](https://datatracker.ietf.org/doc/html/rfc7692#page-11) makes no mention of continuation frames.

As per [RFC 6455 Section 5.5](https://datatracker.ietf.org/doc/html/rfc6455#section-5.5) continuation frames are NOT control frames.

"non-first fragments of a data message" are continuations frames.

very well, no issue here.