Question about sec-websocket-key

Hi there,

I'm maintaining a WebSocket client for another language, and I'm wondering if this is correct:

```javascript
const keyRegex = /^[+/0-9A-Za-z]{22}==$/;
```

I've searched about the WebSocket handshake, and it seems that there aren't many rules in place for how the `sec-websocket-key` should look like in the client request. (https://en.wikipedia.org/wiki/WebSocket#Protocol%20handshake)

> the client sends a Sec-WebSocket-Key header containing base64-encoded random bytes, and the server replies with a hash of the key in the Sec-WebSocket-Accept header.

More from WebSocket spec: https://tools.ietf.org/html/rfc6455#section-11.3.1 

So I'm wondering if it is really intended to force a fixed 22-length string, ending with `==` to validate the `sec-websocket-key` coming from the client? It gets a bit tricky to generate this from the client-side, given that it's not a simple base64 encoded string.

> The request MUST include a header field with the name
> |Sec-WebSocket-Key|.  The value of this header field MUST be a
> nonce consisting of a randomly selected 16-byte value that has
> been base64-encoded (see Section 4 of [RFC4648]).  The nonce
> MUST be selected randomly for each connection.
>
> NOTE: As an example, if the randomly selected value was the
> sequence of bytes 0x01 0x02 0x03 0x04 0x05 0x06 0x07 0x08 0x09
> 0x0a 0x0b 0x0c 0x0d 0x0e 0x0f 0x10, the value of the header
>field would be "AQIDBAUGBwgJCgsMDQ4PEC=="



Thanks a lot for clarifying, as always @lpinca. ❤️ 