Should not be appending the TRAILER to the payload before compression (permessage-deflate)

### Is there an existing issue for this?

- [x] I've searched for any related issues and avoided creating a duplicate issue.

### Description

Hello, [RFC 7692 Section 7.2.1](https://datatracker.ietf.org/doc/html/rfc7692#section-7.2.1) states:

```
   An endpoint uses the following algorithm to compress a message.

   1.  Compress all the octets of the payload of the message using
       DEFLATE.

   2.  If the resulting data does not end with an empty DEFLATE block
       with no compression (the "BTYPE" bits are set to 00), append an
       empty DEFLATE block with no compression to the tail end.

   3.  Remove 4 octets (that are 0x00 0x00 0xff 0xff) from the tail end.
       After this step, the last octet of the compressed data contains
       (possibly part of) the DEFLATE header bits with the "BTYPE" bits
       set to 00.
```

However in [L#363 of lib/permessage-deflate.js](https://github.com/websockets/ws/blob/master/lib/permessage-deflate.js#L363) I see that the TRAILER (`Buffer.from([0x00, 0x00, 0xff, 0xff])`) is being passed to zlib inflate
```
    this._inflate.write(data);
    if (fin) this._inflate.write(TRAILER);
```

I think it isn't correct to write the TRAILER to zlib inflate, the TRAILER should only be removed from the tail end of the compressed data.

### ws version

^8.18.3

### Node.js Version

v22.12.0

### System

  System:
    OS: Linux 6.15 Arch Linux
    CPU: (4) x64 Intel(R) Core(TM) i5-2450M CPU @ 2.50GHz
    Memory: 11.16 GB / 15.50 GB
    Container: Yes
    Shell: 5.2.37 - /bin/bash


### Expected result

_No response_

### Actual result

_No response_

### Attachments

_No response_